$warning: #ffc107;
$warning-grad: radial-gradient(circle, #e7ac00, #edb102, #f3b603, #f9bc05, #ffc107);
body {
    overflow-x: hidden;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

// NAVBAR //
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    .nav-link {
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
    .custom-toggler.navbar-toggler {
        border-color: $warning;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(225,193,7, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}



@media (min-width: 576px) { 

}

a:hover {
    color: $warning !important;
    text-decoration: none;
}

li {
    display: inline-block;
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 10px;
}

li:last-child {
    margin-right: 0;
}

li:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

li:hover:after {
    width: 100%;
    background: $warning !important;
}

.nav-colored {
    background-color: #fff;
    transition: background-color 200ms linear;
    -webkit-box-shadow: 0 8px 6px -6px $warning;
    -moz-box-shadow: 0 8px 6px -6px $warning;
    box-shadow: 0 8px 6px -6px $warning;
    font-weight: 600;
    .nav-link {
        color: $warning !important;
    }
    a:hover {
        color: #343a40 !important;
        text-decoration: none;
    }
    li:hover:after {
        width: 100%;
        background: #343a40 !important;
    }
}

.nav-transparent {
    background-color: transparent;
}

// SHOWCASE //
#showcase {
    position: relative;
    min-height: 100vh;
    background: url("../images/showcase.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    .dark-overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .wrapper {
        position: relative;
        height: 100vh;
    }
    .jumbotron {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
    }
}

// ABOUT - SECTION //
#about {
    img {
        height: auto;
        width: 200px;
    }
}

// SERVICES - SECTION //
#services {
    .fa {
        font-size: 40px;
        height: 87px;
        width: 87px;
    }
    .card:hover {
        background: $warning-grad;
        border: none;
        .card-body p,
        .card-body h3,
        .fa {
            color: #fff !important;
        }
    }
}

#blog {
    .card:hover {
        background: $warning-grad;
    }
}

// CONTACT - SECTION //
#contact {
    textarea {
        min-height: 200px;
    }
    input,
    textarea,
    .btn {
        border: 1px solid $warning;
    }
}

// FOOTER //
footer {
    background: #202020;
    color: #909090;
    .fa {
        font-size: 30px;
    }
    ul {
        padding: 0;
        margin: 20px 0;
    }
    ul li {
        display: inline-block;
        margin: 0 4px;
    }
    ul li a,
    p {
        color: $warning;
    }
    ul li a:hover {
        color: #fff !important;
    }
    li:hover:after {
        display: none;
    }
}